* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111;
    --orange: #fd9222;
    --violet: #1e1823;
    --white: #fff;
}

body {
/*     max-width: 335px; */
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

.header-section {
    margin: 24px 32px 32px 32px;
}

.header-logo-text {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--black);
    text-transform: uppercase;
}

.header-svg {
    fill: #fff;
    stroke: #fd9222;
    margin-left: 4px;
}

.header-div-logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header-div {
    display: flex;
    position: relative;
}

.header-menu-button {
    height: 28px;
    width: 28px;
    margin-left: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.header-svg-menu {
fill: #100e0b;
stroke: #0a0602;
}

.header-tablet-dekstop {
    display: flex;
}

.header-drop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    
    .header-section {
        margin: 20px 20px 14px 20px;
    }

    .header-menu-button {
        height: 28px;
        width: 28px;
    }
    
    .header-menu-button {
        height: 28px;
        width: 28px;
        margin-left: auto;
        background: none;
        border: none;
        cursor: pointer;
    }

    .header-menu-button {
        display: block;
    }

    .header-tablet-dekstop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .header-menu-button {
        height: 24px;
        width: 24px;
    }
}

@media (min-width: 1158px) {

    .header-logo-text {
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
    }
}