* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 335px;
}

ul {
    list-style-type: none;
}

.header-section {
    margin: 20px 20px 14px 20px;
}

.header-div {
    display: flex;
}

.header-div-logo {
    display: flex;
    flex-wrap: nowrap;
}