* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111;
    --orange: #fd9222;
    --violet: #1e1823;
    --white: #fff;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 335px;
    margin: 0 auto;
}

.header-div {
    margin: 20px 20px 14px 20px;
}

.header-logo-text {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.0-em;
    color: var(--black);
    text-transform: uppercase;
}

.header-svg {
    fill: #fff;
    stroke: #fd9222;
    margin-left: 4px;
}

.header-div-logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header-div {
    display: flex;
    position: relative;
}

.header-menu-button {
    height: 28px;
    width: 28px;
    margin-right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.header-svg-menu {
fill: #100e0b;
stroke: #0a0602;
}

.header-tablet-dekstop {
    display: none;
}

.header-drop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

    
.header-menu-button {
    height: 28px;
    width: 28px;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

/* greeting-section */

.main-banner {
    padding-bottom: 60px;
}

.greeting-section {
    background-image: image-set("../images/chocolate.jpg" 1x, "../images/chocolate@2x.jpg" 2x);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 620px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.greeting-section-buttons {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.greeting-section-h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--white);
    margin: 0 auto;
    width: 295px;
}

.greeting-section-buttons {
    display: flex;
    gap: 14px;
    row-gap: 32px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 32px;
}

.btn-buy {
    border-radius: 100px;
    width: 120px;
    height: 41px;
    background: var(--orange);
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
}

.btn-how {
    border: 1px solid var(--white);
    border-radius: 100px;
    width: 159px;
    height: 41px;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    background-color: transparent;
}

.btn-scroll {
    background-color: transparent;
    color: var(--white);
    display: flex;
    gap: 12px;
    align-items: center;
    border: none;
}

.svg-background {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-svg {
    fill: var(--orange);
}




